---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Form from "../components/Form";
---

<Layout title="Welcome to Astro.">
	<Header/>

	<main>
		<section class="container">
			<div>
				<h2>More than just shorter links</h2>
				<p>
					Build your brand's recongition and get detailed insights on
					how your links are performing.
				</p>
				<a href="#">Get started</a>
			</div>
			<img src="" alt="" />
		</section>

		<Form />

		<section>
			<h2>Advanced Statistics</h2>
			<p>
				Track how your links are performing across the web with our
				advanced statistics dashboard.
			</p>

			<article>
				<img src="" alt="" />
				<h3>Brand Recognition</h3>
				<p>
					Boost your brand recognition with each click. Generic links
					don’t mean a thing. Branded links help instil confidence in
					your content.
				</p>
			</article>

			<article>
				<img src="" alt="" />
				<h3>Detailed Records</h3>
				<p>
					Gain insights into who is clicking your links. Knowing when
					and where people engage with your content helps inform
					better decisions.
				</p>
			</article>

			<article>
				<img src="" alt="" />
				<h3>Fully Customizable</h3>
				<p>
					Improve brand awareness and content discoverability through
					customizable links, supercharging audience engagement.
				</p>
			</article>
		</section>
	</main>

	<aside>
		<h2>Boost your links today</h2>
		<a href="#">Get Started</a>
	</aside>

	<footer>
		<h1>Shortly</h1>

		<section>
			<div>
				<h2 id="footer-features">Features</h2>
				<nav aria-labelledby="footer-features">
					<a href="#">Link Shortening</a>
					<a href="#">Branded Links</a>
					<a href="#">Analytics</a>
				</nav>
			</div>
			<div>
				<h2 id="footer-resources">Resources</h2>
				<nav aria-labelledby="footer-resources">
					<a href="#">Blog</a>
					<a href="#">Developers</a>
					<a href="#">Support</a>
				</nav>
			</div>
			<div>
				<h2 id="footer-company">Company</h2>
				<nav aria-labelledby="footer-company">
					<a href="#">About</a>
					<a href="#">Our Team</a>
					<a href="#">Careers</a>
					<a href="#">Contact</a>
				</nav>
			</div>
		</section>

		<section>
			<a href="#" target="_blank" title="Share on Facebook, new window">
				<span class="fab fa-facebook-square" aria-hidden="true"></span>
				<span class="sr-only">Share on Facebook, new window</span>
			</a>
			<a href="#" target="_blank" title="Share on Twitter, new window">
				<span class="fab fa-facebook-square" aria-hidden="true"></span>
				<span class="sr-only">Share on Twitter, new window</span>
			</a>
			<a href="#" target="_blank" title="Share on Pinterest, new window">
				<span class="fab fa-facebook-square" aria-hidden="true"></span>
				<span class="sr-only">Share on Pinterest, new window</span>
			</a>
			<a href="#" target="_blank" title="Share on Instagram, new window">
				<span class="fab fa-facebook-square" aria-hidden="true"></span>
				<span class="sr-only">Share on Instagram, new window</span>
			</a>
		</section>
	</footer>
</Layout>

<style is:global>


	
	
</style>
