---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Form from "../components/Form";
---

<Layout title="Welcome to Astro.">
	<Header />

	<main>
		<section class="wrapper hero">
			<div class="hero__wrapper">
				<div class="hero__content">
					<h1>More than just shorter links</h1>
					<p>
						Build your brand’s recognition and get detailed insights
						on how your links are performing.
					</p>
					<a href="#" class="button button--big">Get started</a>
				</div>
				<img src="/images/illustration-working.svg" alt="" />
			</div>

			<Form />
		</section>

		<section class="statistics__color">
			<div class="wrapper statistics">
				<div class="statistics__title">
					<h2>Advanced Statistics</h2>
					<p>
						Track how your links are performing across the web with
						our advanced statistics dashboard.
					</p>
				</div>

				<div class="statistics__content">
					<article class="article">
						<img
							class="article__image"
							src="/images/icon-brand-recognition.svg"
							alt=""
						/>
						<h3 class="article__title">Brand Recognition</h3>
						<p class="article__content">
							Boost your brand recognition with each click.
							Generic links don’t mean a thing. Branded links help
							instil confidence in your content.
						</p>
					</article>

					<article class="article">
						<img
							class="article__image"
							src="/images/icon-detailed-records.svg"
							alt=""
						/>
						<h3 class="article__title">Detailed Records</h3>
						<p class="article__content">
							Gain insights into who is clicking your links.
							Knowing when and where people engage with your
							content helps inform better decisions.
						</p>
					</article>

					<article class="article">
						<img
							class="article__image"
							src="/images/icon-fully-customizable.svg"
							alt=""
						/>
						<h3 class="article__title">Fully Customizable</h3>
						<p class="article__content">
							Improve brand awareness and content discoverability
							through customizable links, supercharging audience
							engagement.
						</p>
					</article>
				</div>
			</div>
		</section>
	</main>

	<aside class="aside flow">
		<h2>Boost your links today</h2>
		<a href="#" class="button button--big">Get Started</a>
	</aside>

	<Footer/>
</Layout>

<style>
	.hero {
		position: relative;
	}

	.hero__wrapper {
		min-height: 100vh;
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		color: var(--clr-neutral-gray);
	}

	.hero__wrapper img {
		object-fit: cover;
		object-position: 7vw -5vmin;
		height: min(60vh, 600px);
		width: 40%;
		justify-self: end;
		transition: 180ms width ease-in;
		overflow: visible;
	}

	.hero__content {
		width: min(100vw, 55ch);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}

	.hero__content p {
		color: var(--clr-text);
	}

	.hero__content a {
		margin-block: 2rem;
	}

	@media screen and (max-width: 768px) {
		.hero__wrapper {
			text-align: center;
		}

		.hero__wrapper img {
			order: -1;
		}

		.hero__content {
			align-items: center;
		}
	}

	.statistics {
		min-height: 100vh;
		display: grid;
		place-content: center;
	}

	.statistics :is(p) {	
		color: var(--clr-text);
	}

	.statistics__color {
		background-color: var(--clr-accent);
	}

	.statistics__title {
		width: min(100vw - 2rem, 50ch);
		text-align: center;
		margin-inline: auto;
	}

	.statistics__title :is(h2, p) {
		margin-block: 1rem;
	}

	.statistics__content {
		margin-block: clamp(2rem, 5%, 3rem);
		display: flex;
		flex-flow: wrap;
		justify-content: center;
		gap: 4rem 1.8rem;
	}

	.article {
		position: relative;
		margin-top: var(--margin-top, 0);
		padding-inline: 1.7rem;
		padding-block: 0 2rem;
		width: min(100vw - 2rem, 30ch);
		height: fit-content;
		border-radius: 0.5rem;
		border: 2px solid var(--clr-accent);
		background-color: var(--clr-white);
		text-align: left;
		z-index: 1;
	}

	.article:where(:nth-child(2)) {
		--margin-top: 3rem;
	}

	.article:where(:nth-child(3)) {
		--margin-top: 6rem;
	}

	.article:nth-child(2n + 1) {
		z-index: 2;
	}

	.article :is(h3, p) {
		margin-block: 0 0.5rem;
	}

	.article__content {
		font-size: var(--fs--100);
	}

	.article__image {
		position: relative;
		width: min(4.5rem, 35%);
		background-color: var(--clr-secondary);
		border-radius: 100%;
		padding: clamp(0.8rem, 8%, 1.2rem);
		transform: translateY(-40%);
		margin-block: -0.1rem;
	}

	.article:nth-child(2)::after,
	.article:nth-child(2)::before {
		content: "";
		position: absolute;
		top: 40%;
		width: 2.2rem;
		aspect-ratio: 4 / 1;
		background-color: var(--clr-primary);
		z-index: -1;
	}

	.article:nth-child(2)::before {
		right: 100%;
	}

	.article:nth-child(2)::after {
		left: 100%;
	}

	@media screen and (max-width: 1069px) { 
		.article {
			--margin-top: initial;
			height: auto;
		}

		.article:nth-child(2)::after,
		.article:nth-child(2)::before {
			display: none;
		}

	}

	@media screen and (max-width: 662px) {
		.article__image {
			position: relative;
			left: 50%;
			transform: translate(-50%, -40%);
		}

		.article:nth-child(2)::after,
		.article:nth-child(2)::before {
			position: absolute;
			top: initial;
			left: 50%;
			display: block;
			width: 0.7rem;
			aspect-ratio: 1 / 4;
			transform: translateX(-50%);
		}

		.article:nth-child(2)::after {
			top: 100%;
		}

		.article:nth-child(2)::before {
			bottom: 110%;
		}
	}

	.aside {
		--margin-height: 2rem;

		padding: clamp(2.5rem, 5%, 3rem);
	    display: grid;
    	place-items: center;
		color: var(--clr-white);
		background-image: url(/images/bg-boost-desktop.svg);
		background-position: center center;
		background-size: cover;
		background-color: var(--clr-secondary);
	}
</style>
