---
export interface Props {
	title: string;
}

const {title} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: "Poppins";
		src: url(/fonts/Poppins-Bold.ttf) format("truetype"),
			url(/fonts/Poppins-Medium.tff) format("truetype"),
			url(/fonts/Poppins-Light.ttf) format("truetype");
		font-weight: 300 500 800;
		font-style: normal;
	}

	:root {
		--clr-primary-white: hsl(0, 0%, 96%);
		--clr-primary-cyan: hsl(180, 66%, 49%);
		--clr-primary-dark-violet: hsl(257, 27%, 26%);

		--clr-secondary: hsl(0, 87%, 67%);

		--clr-neutral-gray: hsl(0, 0%, 75%);
		--clr-neutral-grayish-violet: hsl(257, 7%, 63%);
		--clr-neutral-dark-blue: hsl(255, 11%, 22%);
		--clr-neutral-dark-violet: hsl(260, 8%, 14%);
	}

	* {
		padding: 0;
		box-sizing: border-box;
	}

	html {
		scroll-behavior: smooth;
	}

	html,
	body {
		height: 100%;
	}

	body {
		background-color: var(--clr-primary-white);
		font-size: clamp(1rem, 4vw + 1rem, 1.125rem);
		font-family: "Poppins", sans-serif;
		font-weight: normal;
		color: var(--clr-neutral-dark-blue);
	}

	a {
		text-decoration: none;
		color: inherit;
	}

	h1 {
		font-size: clamp(1rem, 4vw + 1rem, 2rem);
	}

	h2 {
		font-size: clamp(0.8rem, 4vw + 1rem, 1.7rem);
	}

	.container {
		--container-max: 90ch;

		width: min(100vw - 3rem, var(--container-max));
		margin-inline: auto;	

		border: 1px solid var(--clr-primary-cyan);
	}


	.button {
		padding: var(--button-padding, 0.35rem 1rem);
		text-decoration: none;
		border: 1px solid transparent;
		background-color: var(--button-bg, var(--clr-primary-cyan));
		color: var(--button-color, var(--clr-primary-white));
		cursor: pointer;
		transition: background-color 500ms ease-in-out;
		border-radius: 100vmax;
	}

	.button--transparent {
		--button-bg: transparent;
		--button-color: var(--clr-neutral-dark-blue);
	}
	
</style>
